@font-face{
	font-family:'Letter Game Tiles';
	src: url('Letter Game Tiles.ttf');
}

@font-face{
	font-family:'eyes_see_souls';
	src: url('eyes_see_souls.ttf');
}

@font-face{
	font-family:'Duende';
	src: url('Duende.otf');
}

@font-face{
	font-family:'Mahjong';
	src: url('GL-MahjongTile.ttf');	
}

.a{
	font-family:'Letter Game Tiles';
	color: #4258CA;
	font-size: 50px;
}
.b{
	font-family:'eyes_see_souls';
	color: #4258CA;
	font-size: 50px;
}
.c{
	font-family:'Duende';
	color: #4258CA;
	font-size: 50px;
}