<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>link</title>
    <script type="text/javascript" src="../Public/JS/angular.min.js"></script>
    <script type="text/javascript" src="../Public/JS/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../Public/CSS/index.css">
</head>

<body>
<a href="javascript:void(0);">GAME START</a>

<div id="game_container" ng-app="gameApp" ng-controller="gameController">

    <table>



    </table>

</div>













